html{}
body{}

.color-bk{background-color:rgba(37 , 37 , 37 , 0.4);}

.background-form {
    background: none repeat scroll 0 0 rgba(21, 50, 81, 0.3);
    border-radius: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    clear: both;
    color: #ee9633;
    padding: 20px;
}
.top-space{margin:0 0 70px 0;}
.form-horizontal h3{margin-bottom:30px;color: #ffffff;}
label.col-sm-12.control-label{margin-bottom: 10px}
.li-edit li{text-align: left;margin:10px 0 10px 0;font-size: 30px;font-style: normal!important;}
input{height:45px!important;width: 100%!important;}
.bottom{padding-top:100px;}
.bottom p{color:#ffffff;font-size: 13px;}
.bottom a{color:#ffffff;}
.form-group{margin-right: 10px;}
.h1-edit{text-align:left;font-size:45px;padding:20px;font-style: bold!important;}
.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 300px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/intro-bg3.jpg) no-repeat center center;
    background-size: cover;
    
}
.intro-message {
    position: relative;
    padding-top: 10%;
    padding-bottom:0;
}
.intro-message a{color:#ee9633;}

@media (max-width : 1200px){
    iframe{
        min-height: 670px !important;
    }
}

@media (max-width : 768px){
    iframe{
        min-height: 690px !important;
    }
    .h1-edit{
        font-size: 30px;
    }
    .li-edit li{
        font-size: 24px;
    }
}

@media (max-width : 480px){
    iframe{
        min-height: 700px !important;
    }
    .h1-edit{
        font-size: 24px;
    }
    .li-edit li{
        font-size: 18px;
    }
}

@media (max-width : 430px){
    iframe{
        min-height: 700px !important;
    }
    .h1-edit{
        font-size: 24px;
    }
    .li-edit li{
        font-size: 18px;
    }
}